.containerMain {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.titleBox {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 1240px;
  overflow: hidden;
}

.columnOrders {
  width: 608px;
}

.columnInfo {
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: auto;
  overflow-x: hidden;
  width: 580px;
}

.commonButton {
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: none;
}

.commonButton:focus-visible {
  outline: 1px solid #fff;
}

.commonButton:hover {
  background-color: #2f2f37;
}