.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
}

.cost {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
}

.addButton {
  position: relative;
  width: 260px;
  justify-content: center;
  padding: 5px;
  border: 1px solid transparent;
  transition: none;
  border-radius: 20px;
}

.container .addButton:hover {
  border: 1px solid #2f2f37;
  background-color: #2f2f37;
  padding: 5px;
}

.addButton:focus-visible {
  outline: 1px solid #fff;
}